// greyscale
$color-grey-0: #000000;
$color-grey-1: #1F1F1F;
$color-grey-2: #777;
$color-grey-3: #AEAEAE;
$color-grey-4: #ECECF1;
$color-grey-5: #FAFAFC;
$color-grey-6: #FFF;

// Primary
$color-primary-light: #3AB193;
$color-primary-default: #3AB193;
$color-primary-dark: #121C2A;
$color-primary-yellow: #FFAE00;

// Secondary
$color-secondary-light: #DFC674;
$color-secondary-default: #38B000;
$color-secondary-dark: #006400;

// Success
$color-success-light: #F3FFDF;
$color-success-default: #F3FFDF;
$color-success-dark: #800312;

// Warning
$color-warning-light: #FFF3D7;
$color-warning-default: #FFC136;
$color-warning-dark: #AD7C0F;

// Error
$color-error-light: #F8D4D8;
$color-error-default: #DE263D;
$color-error-dark: #800312;

// Fonts
$font-primary: 'DM Sans', sans-serif;

// Screens
$screen-xs: 360px;
$screen-sm: 480px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;