@import '../../styles/variables.scss';

.home {
  width: 90vw;
}

.home__input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.home__input-surprise {
  background-color: $color-grey-4;
  color: $color-grey-0;
  cursor: pointer;
  border-radius: .5rem;
  font-weight: 600;
  padding: .25rem .75rem;
  margin: 0 0 .125rem .25rem;
}

.home__input-container {
  width: 100%;
  display: flex;
  border-radius: .375rem;
  overflow: hidden;
  box-shadow: rgba(0,0,82, 0.15) 0 .125rem .25rem;

  input {
    border: none;
    padding: .75rem .875rem;
    box-sizing: border-box;
    font-size: .875rem;
    outline: none;
    width: 90%;
    font-weight: 300;
    
    &::placeholder {
      color: $color-grey-3;
      font-weight: 400;
    }
  }

  button {
    background-color: $color-grey-6;
    border: none;
    border-left: .125rem $color-grey-4 solid;
    color: $color-grey-2;
    cursor: pointer;
    font-weight: 700;
    width: 30%;

    &:hover {
      background-color: $color-grey-5;
      color: $color-grey-3;
    }

    &:active {
      background-color: $color-grey-4;
      color: $color-grey-2;
    }
  }
}

.home__image-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, max-content));
  gap: 1rem;
  max-width: 100%;
  margin: 1.5rem 0;

  img {
    max-width: 100%;
    height: auto; 
  }
}

.home__uploader {
  text-align: center;

  label {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: $screen-md) {
  .home__input-container {
    button {
      width: 10%;
    }
  }
}