@import '../../styles/variables.scss';

.modal {
  align-items: center;
  background-color: rgba($color-grey-0, 0.2);
  display: flex;
  left: 0;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 4;
}

.modal__container {
  background-color: $color-grey-6;
  border-radius: .75rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  width: 100%;
  z-index: 5;

  button {
    background-color: $color-secondary-default;
    border: none;
    border-radius: .25rem;
    color: $color-grey-6;
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    
    &:hover {
      background-color: $color-secondary-dark;
    }
  }
}

.modal__close {
  display: flex;
  justify-content: end;
  margin-bottom: .5rem;

  svg {
    cursor: pointer;
  }
}

.modal__image-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-height: 257px;
  max-width: 257px;
  overflow: hidden;
}

@media (min-width: $screen-md) {
  .modal__container {
    width: auto;
  }
}